{% extends 'AlazjjSimpleBootstrapBundle::base.html.twig' %}

{% block body %}
<div class="container">
    <div class="masthead">
        <h3 class="muted">DemoSimpleBootstrapBundle</h3>
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li class="{{ (tab == 'home') ? "active" : ""  }}"><a href="{{ path('alazjj_index') }}">Home</a></li>
                        <li class="{{ (tab == 'modal') ? "active" : ""  }}"><a href="{{ path('alazjj_modal_index') }}">Modals</a></li>
                        <li class="{{ (tab == 'form') ? "active" : ""  }}"><a href="{{ path('alazjj_form_index') }}">Forms</a></li>
                    </ul>
                </div>
            </div>
        </div><!-- /.navbar -->
    </div>

    {% block main %}
    <div class="row-fluid">
        <div class="span3">
            <ul class="nav nav-list bs-docs-sidenav affix">
            {% block sidebar %}
            {% endblock sidebar %}
            </ul>
        </div>
        <div class="span9">
            {% include "AlazjjSimpleBootstrapBundle::flash.html.twig" %}
            <div class="pull-right">
                <a class="btn btn-small" href="https://github.com/alazjj/SimpleBootstrapBundle">
                    <img width="20" height="20" alt="GitHub" src="{{ asset('/bundles/alazjjdemosimplebootstrap/images/blacktocat-32.png') }}">
                </a>
            </div>
            {% block content %}
            {% endblock content %}
        </div>
    </div>
    {% endblock main %}

    {% block footer %}
    <hr>
    <footer>
        footer
    </footer>
    {% endblock footer %}
</div>
{% endblock body %}